---
import { Image } from "astro:assets";
import background from "@images/banner.jpg";
import garage from "@images/garage.jpg";
import wall from "@images/wall.jpg";
import wheel from "@images/wheel.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aksöz Motor" description="Tekirdağ Motorsiklet Bakımı ve Tamiri">
	<main>
		<section class="relative w-full h-screen">
			<Image
				src={background}
				fit="cover"
				alt="Background"
				width={1920}
				height={1080}
				class="absolute w-full h-full object-cover object-left-bottom sm:object-bottom md:object-top brightness-50 grayscale"
			/>
			<div
				class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent from-50%"
			>
			</div>
			<div
				class="container relative text-gray-200 leading-8 font-semibold py-20 md:py-10"
			>
				<div class="w-2/3 mr-auto sm:w-full lg:w-1/2 lg:mx-auto">
					<h1
						class="text-gray-400 opacity-55 relative lg:text-center text-2xl md:text-3xl mb-2 md:mb-4"
					>
						Aksöz Motor
					</h1>
					<div class="text-4xl md:text-7xl lg:text-center relative">
						Motorsikletiniz için
						<span
							class="inline-block relative after:hidden after:absolute md:after:block after:content-[''] after:w-full after:h-2 after:-skew-2 after:bg-green-600 after:border-b-4 after:border-green-700 text-green-600 md:text-white"
							>Usta</span
						> dokunuşu
					</div>
					<p
						class="text-gray-200 text-lg md:text-xl lg:text-center mt-4 md:mt-6"
					>
						Bakım, onarım ve performans artırımıyla sürüş deneyiminizi
						yenileyin!
					</p>
				</div>
			</div>
		</section>
		<section class="bg-[#111] py-20">
			<div class="container">
				<h2
					class="text-gray-100 text-5xl lg:text-7xl md:text-center mb-6 lg:mb-8"
				>
					HİZMETLERİMİZ
				</h2>
				<div
					class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-6 lg:gap-8"
				>
					<div class="box-border rounded-sm text-gray-100">
						<Image
							src={wheel}
							alt="Motorsiklet Bakımı"
							width={500}
							height={300}
							fit="cover"
							class="grayscale w-full"
						/>
						<div class="p-2 md:p-6 bg-black">
							<h3 class="text-2xl lg:text-3xl mb-4 md:mb-5">BAKIM</h3>
							<p class="text-xl lg:text-2xl">
								Motosikletinizin ömrünü uzatmak ve güvenli bir sürüş sağlamak
								için düzenli bakım şarttır. Yağ değişimi, fren balatalarının
								kontrolü, zincir bakımı ve genel kontroller ile motorunuz her
								zaman en iyi durumda olur. Profesyonel ekibimizle
								motosikletinizin performansını koruyun.
							</p>
						</div>
					</div>
					<div
						class="box-border border-gray-900 border-1 rounded-sm text-gray-100"
					>
						<Image
							src={garage}
							alt="Motorsiklet Bakımı"
							width={500}
							height={300}
							fit="cover"
							class="grayscale w-full"
						/>
						<div class="p-2 md:p-6 bg-black">
							<h3 class="text-2xl lg:text-3xl mb-4 md:mb-5">ONARIM</h3>
							<p class="text-xl lg:text-2xl">
								Motosikletinizde meydana gelen mekanik ve elektriksel arızaları
								en kısa sürede gideriyoruz. Motor, şanzıman, süspansiyon, fren
								sistemi ve elektrik aksamındaki her türlü sorunu uzman
								ekibimizle çözüyoruz. Sorunsuz ve güvenli bir sürüş için en iyi
								çözümleri sunuyoruz.
							</p>
						</div>
					</div>
					<div
						class="box-border border-gray-900 border-1 rounded-sm text-gray-100"
					>
						<Image
							src={wall}
							alt="Motorsiklet Bakımı"
							width={500}
							height={300}
							fit="cover"
							class="grayscale w-full"
						/>
						<div class="p-2 md:p-6 bg-black">
							<h3 class="text-xl lg:text-3xl mb-4 md:mb-5">
								Performans Artırımı
							</h3>
							<p class="text-xl lg:text-2xl">
								Sürüş deneyiminizi bir üst seviyeye taşımak ister misiniz? Egzoz
								sistemi yükseltmeleri, süspansiyon iyileştirmeleri, hava
								filtreleri ve motor modifikasyonları ile motosikletinizin gücünü
								ve tepkisini artırıyoruz. Daha akıcı, güçlü ve keyifli bir sürüş
								için özel çözümler sunuyoruz.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="py-20 bg-black text-white">
			<div class="container">
				<h2
					class="text-gray-100 text-5xl lg:text-7xl md:text-center mb-6 lg:mb-8"
				>
					BİZE ULAŞIN
				</h2>
				<div
					class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 md:items-center"
				>
					<div class="col-span-1">
						<p class="text-2xl mb-6 md:mb-5">
							Güvenilir ve profesyonel ekibimizle her zaman yanınızdayız.
						</p>
						<p class="text-lg md:hidden">
							Adres: 100. Yıl, Tamirci Sk. sanayi sitesi No:25, 59100
							Süleymanpaşa/Tekirdağ
						</p>
						<a
							class="leading-12 inline-block px-4 text-black bg-yellow-600 rounded-xs font-semibold font-sans text-3xl"
							href="https://www.google.com/maps/place/AKS%C3%96Z+MOTOR/@40.9695291,27.4850306,806m/data=!3m2!1e3!4b1!4m6!3m5!1s0x14b4611a913e96dd:0xb39ae5ac2d45fac1!8m2!3d40.9695251!4d27.4876055!16s%2Fg%2F11kg349y78?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
							>YOL TARİFİ</a
						>
					</div>
					<div class="col-span-1 hidden md:block">
						<div class="max-w-full overflow-hidden">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.714331086234!2d27.4876055!3d40.9695251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b4611a913e96dd%3A0xb39ae5ac2d45fac1!2sAKS%C3%96Z%20MOTOR!5e1!3m2!1str!2str!4v1741534976775!5m2!1str!2str"
								width="600"
								height="450"
								style="border:0;"
								allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
